@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'utils/variables',
  'utils/functions',
  'utils/mixins';

// 2. Vendors
@import
  'vendor/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/button';

// 6. Page-specific styles
@import
  'pages/home';

// 7. Themes
@import
  'themes/default';

  form {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .4);
    border-radius: 3px;
    margin: auto;
    align-items: center;
    width: 20vw;
    label:not(.checkbox label), input:not(.checkbox input), select {
      width: 80%;
    }
  }
  
  .checkbox {
    width: 100%;
  }

  a {
    margin: auto;
  }
  .header-nav {
    width: 20vw;
    margin: auto;
    text-align: center;
    a {
      transition: all .4s linear;
      background: rgba($brand-color, .3);
      border: .3px solid $brand-color;
      &:hover {
        color: white;
      }
    }
  }

  h4, h2, h3, h1 {
    text-align: center;
  }

  .venue {
    border: .3px solid rgba($brand-color, .3);
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    .band-venue {
      flex: .3 .3 33%;
      background: rgba(0, 0, 0, .2);
    }
  }

.band-container {
  display: flex;
  width: 80vw;
  margin: auto;
}

.band-search {
  flex: .5 .5 50%;
}

.bands {
  flex: .5 .5 50%;
  display: flex;
  flex-direction: column;
  a {
    background: rgba(0, 0, 0, .2);
    width: 100%;

  }
}