<h2>$currentBand.getName()</h2>
<h2>genre: $currentBand.getGenre()</h2>

<h2>venues: </h2>
#foreach($venue in $bandVenues)
	<div class="band-venue">
		<p>$venue.getName()</p>
		<p>$venue.getLocation()</p>
	</div>
#end

<a href="/band/$currentBand.getId()/edit">edit this band</a>
