#if($error == true)
	There were one or more errors encountered while trying to save your band:
	All form fields are required!
#end

<h2>Add your band here: </h2>
<form action="/bands/new" method="post">
	
	<label for="band-name">Band Name: </label>
	<input type="text" id="band-name" name="band-name">

	<label for="band-genre">Genre</label>
	<input type="text" id="band-genre" name="band-genre">
	
	<button type="submit" id="create-band">Save</button>
</form>