<h2>$currentBand.getName()</h2>
<h2>genre: $currentBand.getGenre()</h2>
<a href="/band/$currentBand.getId()/edit">edit this band</a>

<div class="venue">
	#foreach($venue in $bandVenues)
	<h2>venues: </h2>
		<div class="band-venue">
			<p>Venue: $venue.getName()</p>
			<p>Location: $venue.getLocation()</p>
		</div>
	#end
</div>

