<!DOCTYPE html>
<html>
 <head>
  <title></title>
  <link rel='stylesheet' href='/app.css'>
 </head>
 <body>

		<div class="header-main headers">
				<h3>Band Tracker</h3>
			
			<div class="header-nav">
				<a href="/bands">Browse bands</a>
				<a href="/bands/new">Add a band</a>
				<a href="/venues/new">Add a venue</a>
			</div>
		</div>
    #parse( $template )



 </body>
</html>
