#if($error == true)
	There were one or more errors encountered while trying to save your band:
	All form fields are required!
#end

<h2>Add your venue here: </h2>
<form action="/venues/new" method="post">
	
	<label for="venue-name">venue Name: </label>
	<input type="text" id="venue-name" name="venue-name">

	<label for="location">Location: </label>
	<input type="text" id="location" name="location">
	
	<button type="submit" id="create-venue">Save</button>
</form>